%ul.nav.nav-tabs
  %li.active=link_to tag_icon(:list, "列表"), url(:types, :index)
  %li=link_to tag_icon(:plus, "新增"), url(:types, :new)

.tabs-content
  %table#list.table.table-striped.table-hover.table-condensed
    %thead
      %tr
        %th.header= mat(:type, :id)
        %th.header= mat(:type, "名称")
        %th.header.list-row-action-header

    %tbody
      -@types.each do |type|
        %tr.list-row
          %td.list-column=type.id
          %td.list-column=type.name
          %td.list-column.list-row-action
            - if type.id != 1
              .list-row-action-wrapper
                =link_to tag_icon(:edit), :href => url(:types, :edit, :id => type.id), :rel => :tooltip, :title => "edit type", :class => 'list-row-action-wrapper-link'
                =link_to tag_icon(:signal), :href => url(:steps, :index, :type_id => type.id), :rel => :tooltip, :title => "edit step", :class => 'list-row-action-wrapper-link'
                =link_to tag_icon(:trash), :rel => :tooltip, :title => "delete type", :class => 'list-row-action-delete-one list-row-action-wrapper-link'
                .popover.list-row-action-popover-delete-one.left
                  .arrow
                  %h3.popover-title="删除"
                  .popover-content
                    = form_tag url(:types, :destroy, :id => type.id), :method => :delete do
                      =submit_tag "确认", :class =>'list-row-action-popover-delete-one-btn btn btn-danger btn-small'
                      .btn.btn-default.btn-small.cancel="取消"
