%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:departments, :index, :game_id => @game.id)
  %li=link_to tag_icon(:plus, pat(:new)), url(:departments, :new, :game_id => @game.id)
  %li.active=link_to tag_icon(:edit, pat(:edit)), url(:departments, :edit, :game_id => @game.id, :id => @department.id)

.tabs-content
  = form_for :department, url(:departments, :update, :game_id => @game.id, :id => @department.id), :method => :put, :class => 'form-horizontal' do |f|
    =partial 'departments/form', :locals => { :f => f }
