%ul.nav.nav-tabs
  %li.active=link_to tag_icon(:list, "列表"), url(:departments, :index, :game_id => @game.id)
  %li=link_to tag_icon(:plus, "新增"), url(:departments, :new, :game_id => @game.id)

.tabs-content
  %table#list.table.table-striped.table-hover.table-condensed
    %thead
      %tr
        %th.header= mat(:department, :id)
        %th.header= "服务器名称"
        %th.header= "游戏名称"
        %th.header.list-row-action-header

    %tbody
      -@departments.each do |department|
        %tr.list-row
          %td.list-column=department.id
          %td.list-column=department.name
          %td.list-column=department.game.name
          %td.list-column.list-row-action
            .list-row-action-wrapper
              =link_to tag_icon(:edit), :href => url(:departments, :edit, :game_id => @game.id, :id => department.id), :rel => :tooltip, :title => "#{pat(:edit)} department", :class => 'list-row-action-wrapper-link'
              
