%ol.breadcrumb
  %li.active
    =link_to "编辑游戏"
%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, "列表"), url(:games, :index)
  %li=link_to tag_icon(:plus, "新增"), url(:games, :new)
  %li.active=link_to tag_icon(:edit, "编辑"), url(:games, :edit, :id => @game.id)

.tabs-content
  = form_for :game, url(:games, :update, :id => @game.id), :method => :put, :class => 'form-horizontal' do |f|
    =partial 'games/form', :locals => { :f => f }
