%ol.breadcrumb
  %li.active
    =link_to "游戏列表"

%ul.nav.nav-tabs
  %li.active=link_to tag_icon(:list, "列表"), url(:games, :index)
  %li=link_to tag_icon(:plus, "新增"), url(:games, :new)

.tabs-content
  %table#list.table.table-striped.table-hover.table-condensed
    %thead
      %tr
        %th.header= mat(:game, :id)
        %th.header= "名称"
        %th.header.list-row-action-header

    %tbody
      -@games.each do |game|
        %tr.list-row
          %td.list-column=game.id
          %td.list-column=game.name
          %td.list-column.list-row-action
            .list-row-action-wrapper
              =link_to tag_icon(:edit), :href => url(:games, :edit, :id => game.id), :rel => :tooltip, :title => "#{pat(:edit)} game", :class => 'list-row-action-wrapper-link'
              =link_to tag_icon(:signal), :href => url(:departments, :index, :game_id => game.id), :rel => :tooltip, :title => "edit step", :class => 'list-row-action-wrapper-link'
             