%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:issue_types, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:issue_types, :new)

.tabs-content
  = form_for :issue_type, url(:issue_types, :create), :class => 'form-horizontal' do |f|
    =partial 'issue_types/form', :locals => { :f => f }
