-current_account .my_menus.each do |root_menus|
  %li.dropdown
    %a{:class => "dropdown-toggle", "data-toggle" => "dropdown", :href => "#"}
      =root_menus[:root].name
      %span.caret
    %ul.list-menu.dropdown-menu
      -root_menus[:items].each do |menu|
        %li.list-menu-wrapper=link_to menu.name, url(menu.url), :class => 'list-menu-link'