%ol.breadcrumb
  %li.active
    =link_to "订单详情"
    
%table.table
  %tbody
    %tr.list-row
      %td.list-column="订单号"
      %td.list-column=@order.order_no
    %tr.list-row
      %td.list-column="订单状态"
      %td.list-column=@order.status.name
    %tr.list-row
      %td.list-column="角色名"
      %td.list-column=@order.acter
    %tr.list-row
      %td.list-column="所在服务器"
      %td.list-column=@order.department.name
    %tr.list-row
      %td.list-column="角色初始等级"
      %td.list-column=@order.start_level
    %tr.list-row
      %td.list-column="代练需求"
      %td.list-column=@order.end_level
    %tr.list-row
      %td.list-column="订单类别"
      %td.list-column=@order.type.name
    %tr.list-row
      %td.list-column="玩家账号"
      %td.list-column=@order.acter_account
    %tr.list-row
      %td.list-column="玩家密码"
      %td.list-column=@order.acter_pw
    %tr.list-row
      %td.list-column="旺旺"
      %td.list-column=@order.wangwang
    %tr.list-row
      %td.list-column="联系电话"
      %td.list-column=@order.mobile
    %tr.list-row
      %td.list-column="QQ号"
      %td.list-column=@order.qq
    %tr.list-row
      %td.list-column="金额"
      %td.list-column=@order.amount
    %tr.list-row
      %td.list-column="支付方式"
      %td.list-column=@order.paytype
    %tr.list-row
      %td.list-column="备注"
      %td.list-column=@order.memo
      
=partial 'orders/process', :locals => { :processes => @order.processes }

= form_for :order_process, url(:orders, :add_process), :method => :post, :class => 'form-horizontal' do |f|
  =f.hidden_field :order_id, :value => @order.id
  =partial 'orders/process_form', :locals => { :f => f }
  