- error = @role.errors.include?(:name)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label "名称", :class => 'control-label'
  .controls
    =f.text_field :name, :class => 'form-control input-large input-with-feedback', :autofocus => true
    %span.help-inline=error ? f.error_message_on(:name, :class => 'text-error') : ""
%br/
.form-actions
  =f.submit "保存", :class => 'btn btn-primary'
  &nbsp;
  =link_to "取消", url(:roles, :index), :class => 'btn btn-default'