%ol.breadcrumb
  %li.active
    =link_to "编辑角色"

%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, "列表"), url(:roles, :index)
  %li=link_to tag_icon(:plus, "新增"), url(:roles, :new)
  %li.active=link_to tag_icon(:edit, "编辑"), url(:roles, :edit, :id => @role.id)

.tabs-content
  = form_for :role, url(:roles, :update, :id => @role.id), :method => :put, :class => 'form-horizontal' do |f|
    =partial 'roles/form', :locals => { :f => f }
