%ol.breadcrumb
  %li
    =link_to @type.name, url(:types, :index)
  %li.active
    =link_to "编辑类型任务"

%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, "列表"), url(:steps, :index, :type_id => params[:type_id])
  %li=link_to tag_icon(:plus, "新增"), url(:steps, :new, :type_id => params[:type_id])
  %li.active=link_to tag_icon(:edit, "编辑"), url(:steps, :edit, :type_id => params[:type_id], :id => @step.id)

.tabs-content
  = form_for :step, url(:steps, :update, :type_id => params[:type_id], :id => @step.id), :method => :put, :class => 'form-horizontal' do |f|
    =partial 'steps/form', :locals => { :f => f }
