%ol.breadcrumb
  %li
    =link_to @type.name, url(:types, :index)
  %li.active
    =link_to "新增类型任务"

%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, "列表"), url(:steps, :index, :type_id => params[:type_id])
  %li.active=link_to tag_icon(:plus, "新增"), url(:steps, :new, :type_id => params[:type_id])

.tabs-content
  = form_for :step, url(:steps, :create, :type_id => params[:type_id]), :class => 'form-horizontal' do |f|
    =partial 'steps/form', :locals => { :f => f }
